@import '/app/colors.module';
@import '/app/mixins.module.scss';

.steps {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 64px;
	margin-top: 64px;

	@include mobile() {
		margin-top: 0px;
	}

	.singleStep {
		display: flex;
		align-items: center;
		gap: 56px;

		@include mobile() {
			flex-direction: column;
			gap: 34px;
			text-align: center;
		}

		.stepInfo {
			display: flex;
			flex-direction: column;
			gap: 16px;
			color: $color-text-dark-gray;

			h2 {
				font-size: 32px;
			}

			h3 {
				color: $color-text-cyan;
				font-weight: bold;

				@include mobile() {
					font-size: 16px;
				}
			}

			p {
				font-size: 20px;

				@include mobile() {
					font-size: 16px;
				}
			}
		}
	}
}
