@import '/app/mixins.module.scss';

.rating {
	display: flex;
	gap: 16px;

	@include mobile() {
		margin-top: 16px;
	}

	.stars {
		display: flex;
		align-items: center;
	}

	p {
		font-size: 20px;
		font-weight: normal;

		@include mobile() {
			font-size: 16px;
		}
	}
}
