@import '/app/colors.module';
@import '/app/mixins.module.scss';

.wrapper {
	background-color: $color-bg-gray;
	border: 1px solid $color-border-gray;

	.socials {
		max-width: 1100px;
		margin: 0 auto;
		padding: 32px 0;
		color: $color-white;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 16px;

		@include mobile() {
			flex-direction: column;
			align-items: center;
		}

		.singleSocial {
			padding: 14px 24px 14px 24px;
			border: 1px solid $color-border-gray;
			border-radius: 16px;
			width: 312px;
			display: flex;
			align-items: flex-end;
		}

		.socialText {
			margin-left: 20px;

			span {
				font-size: 16px;
			}

			p {
				font-size: 20px;
				font-weight: bold;
			}
		}
	}
}
