@import '/app/colors.module';
@import '/app/mixins.module.scss';

.wrapper {
	border: 1px solid $color-border-gray;
}

.navbar {
	background-color: $color-white;
	padding: 24px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1100px;
	margin: 0 auto;

	@include mobile() {
		padding: 12px 16px;
	}

	nav {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		margin: 0;

		@include mobile() {
			display: none;
		}

		img {
			margin-left: 0;
			margin-right: 0;
		}

		a {
			text-decoration: none;
			color: $color-text-gray;
			letter-spacing: 0;
			font-weight: normal;
			font-size: 20px;

			&:hover {
				color: $color-text-cyan;
			}
		}
	}
}
