@import '/app/colors.module';
@import '/app/mixins.module.scss';

.wrapper {
	background-color: $color-bg-yellow;
}

.hero {
	max-width: 1100px;
	padding: 64px 0;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 128px;

	@include mobile() {
		flex-direction: column;
		padding: 32px 16px;
		gap: 50px;
	}
}
