$color-white: #ffffff;

$color-border-gray: #1f343e;

$color-text-gray: #434a54;
$color-text-cyan: #4eb3e3;
$color-text-dark-gray: #1f343e;
$color-text-light-gray: #6d7a80;

$color-bg-yellow: #f8cc5d;
$color-bg-gray: #45565e;
$color-bg-white: #f8f4f9;
$color-bg-cyan: #4eb3e3;
