$color-bg-primary: #f8cc5d;
$color-bg-secondary: #f8f4f9;
$color-bg-white: #ffffff;
$color-bg-blue: #4eb3e3;
$refer-border: 1px solid #1f343e;
$color-text-primary: #1f343e;
$color-text-blue: #4eb3e3;

.step {
	display: flex;

	.stepDetails {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: $color-text-primary;

		h2 {
			font-size: 32px;
		}

		h3 {
			font-weight: bold;
			color: $color-text-blue;
		}

		p {
			font-size: 20px;
		}
	}
}
